.body {
  margin: 0;
  font-family: 'DM Mono', monospace;
}
.wrapper {
  max-width: 1600px;
  min-width: 980px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  display: grid;
  grid-template-rows: 2fr 10fr 0.5fr;
}
